<ng-container>
  <mat-icon big-icon class="fc-primary">analytics</mat-icon>
  <p class="fs-20">Effect Size Measures in Causal Mediation Analysis: Indirect, Direct, and Total NNT</p>

  <mat-progress-bar [value]="(stepIndex + 1) * (100 / steps.length)"></mat-progress-bar>
  <p class="fs-20">{{ steps[stepIndex].message }}</p>

  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <ng-container [ngSwitch]="steps[stepIndex].message">
    <!-- Upload Dataset -->
    <ng-container *ngSwitchCase="'Upload Dataset'">
      <div class="upload-container">
        <br>
        <p class="fs-16">Please select the dataset you want to upload (only CSV files are allowed).</p>
        <br>
        <mat-form-field class="file-upload-field">
          <mat-label>Dataset</mat-label>
          <button mat-icon-button matPrefix (click)="f_input.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input type="text" readonly matInput [value]="fileName" placeholder="No file chosen" />
          <input type="file" multiple hidden #f_input (change)="handleFileInputChange($event)" accept=".csv" />
          <mat-error *ngIf="!fileName">This field is required</mat-error>
          <mat-error *ngIf="fileName && !isCsvFile">Only CSV files are allowed</mat-error>
        </mat-form-field>
      </div>
    </ng-container>

    <!-- Confounders Selection -->
    <ng-container *ngSwitchCase="'Confounders Selection'">
      <br>
      <p class="fs-16">Please select the confounders that may influence the relationship between your variables.</p>
      <br>
      <mat-form-field>
        <mat-label>Select Confounders</mat-label>
        <mat-select multiple [(value)]="confounders">
          <mat-option *ngFor="let option of confounderOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <!-- Treatment-->
    <ng-container *ngSwitchCase="'Treatment'">
      <br>
      <p class="fs-16">Please select the treatment variable that you believe influences the outcome.</p>
      <br>
      <mat-form-field>
        <mat-label>Select Treatment</mat-label>
        <mat-select [(value)]="predictorX">
          <mat-option *ngFor="let option of predictorOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <!-- Mediator  -->
    <ng-container *ngSwitchCase="'Mediator'">
      <br>
      <p class="fs-16">
        Please select the mediator variable that you think plays a role in the relationship between
        the predictor and the target.
      </p>
      <br>
      <mat-form-field>
        <mat-label>Select Mediator</mat-label>
        <mat-select [(value)]="mediatorY">
          <mat-option *ngFor="let option of mediatorOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <br>
    
      <p class="fs-16">
        Please select the model type for the mediator.
      </p>
      <br>
      <mat-form-field>
        <mat-label>Select Model Type</mat-label>
        <mat-select [(value)]="selectMediatorModel">
          <mat-option *ngFor="let model of ['logistic', 'probit']" [value]="model">{{ model }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    

    <!-- Outcome Variable -->
    <ng-container *ngSwitchCase="'Outcome'">
      <br>
      <p class="fs-16">Please select the outcome variable that you aim to predict.</p>
      <br>
    

      <mat-form-field>
        <mat-label>Select Outcome</mat-label>
        <mat-select [(value)]="targetVariable">
          <mat-option *ngFor="let option of targetOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <br>
      <p class="fs-16">
        Please select the model type for the Outcome Variable.
      </p>

      <mat-form-field>
        <mat-label>Select Model Type</mat-label>
        <mat-select [(value)]="slectedTargetVariable">
          <mat-option *ngFor="let model of ['logistic', 'probit']" [value]="model">{{ model }}</mat-option>
        </mat-select>
      </mat-form-field>
    
    </ng-container>

    <!-- Results -->

    <div class="export-container" *ngIf="responseData">
      <button mat-icon-button color="primary" (click)="exportToCSV()">
        <mat-icon>download</mat-icon>
      </button>
    </div>

    <div class="table-container" *ngIf="responseData">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Effect Column -->
        <ng-container matColumnDef="Effect">
          <th mat-header-cell *matHeaderCellDef matTooltip="The target causal effect size parameters"> Effect </th>
          <td mat-cell *matCellDef="let element">
            <span [matTooltip]="getEffectTooltip(element.Effect)">
              {{ element.Effect }}
            </span>
          </td>
        </ng-container>
    
        <!-- Estiamtor  Column -->
        <ng-container matColumnDef="Estiamtor">
          <th mat-header-cell *matHeaderCellDef>
            <span matTooltip="Point estimates of the target parameters">Estiamtor</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.Estiamtor }} </td>
        </ng-container>

        <!-- CI-LOWER Confidence Interval  -->
        <ng-container matColumnDef="CI_LOWER" >
          <th mat-header-cell *matHeaderCellDef>
            <span matTooltip="95%-level nonparametric bootstrap-based confidence intervals">95% Lower</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.CI_LOWER }} </td>
        </ng-container>

           <!-- CI-UPPER Confidence Interval  -->
           <ng-container matColumnDef="CI_UPPER" >
            <th mat-header-cell *matHeaderCellDef>
              <span matTooltip="95%-level nonparametric bootstrap-based confidence intervals">95% Upper</span>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.CI_UPPER }} </td>
          </ng-container>
    
        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>

    </div>

    <div *ngIf="responseData" style="padding-top: 20px;padding-bottom: 20px;">

    <mat-card class="example-card">
      <mat-card-header>
        <!-- <mat-card-title>Summary</mat-card-title> -->
      </mat-card-header>
      <mat-card-content>
          <div [innerHTML]="nntSummary"></div>
      </mat-card-content>
    </mat-card>
  </div>


    <div class="button-container" *ngIf="!isLoading">
      <button mat-stroked-button (click)="previousStep()" [disabled]="stepIndex === 0">
        Previous
      </button>
      <button mat-stroked-button color="primary" (click)="nextStep()" [disabled]="stepIndex === steps.length - 1">
        Next
      </button>
    </div>
  </ng-container>

</ng-container>