.test {
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 6px #808080ba;
    background-color: #d7e3ff;
}

.mat-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .step-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .step-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .step-title {
    white-space: nowrap;
  }
  
  .step-choice {
    margin-left: 10px;
    text-align: right;
    color: gray;
  }
  
  ol {
    padding: 10px 10px 0 25px;
    list-style: none;
    counter-reset: steps;
}

ol > li::before {
    counter-increment: steps;
    content: counter(steps);
    background: gray;
    padding: 2px 7px;
    color: white;
    border-radius: 50%;
    margin-right: 8px;
}

ol > li.active::before {
    background: var(#03a9f4); 
}

ul {
    border-left: 1px rgba(128, 128, 128, 0.6509803922) solid;
    padding-left: 6px;
    margin: 17px 0 17px 11px;
    min-height: 60px;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 9px;
    padding: 0 8px;
}

ul li span {
    color: gray;
}

ul li b {
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul li a {
    cursor: pointer;
}

ol> li::before {
  counter-increment: steps;
  /* content: counter(steps); */
  background: gray; 
  padding: 2px 7px;
  color: white;
  border-radius: 50%;
  margin-right: 8px;
}

li.active::before {
  background-color: red !important;
}
